body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:static;
  left:auto;
  width:987px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#FFFFFF;
}
#u9540 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:41px;
  width:965px;
  height:200px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#FFFFFF;
}
#u9540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
